@model IEnumerable<PartyInvites.Models.GuestResponse>
@{
    Layout = null;
}
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Index</title>
        <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    </head>
 <body>
    <div class="m-1 p-1">
        <!-- <p>Time:@DateTime.Now.ToString("HH:mm:ss")</p> -->
        <h2>Here is list of people attending the party</h2>
        <table class="table table-sm table-striped table-bordered">
            <thead>
                <tr><th>Name</th><th>Email</th><th>Phone</th></tr>
            </thead>
            <tbody>
                @foreach (PartyInvites.Models.GuestResponse l in Model)
                {
                    <tr><td>@l.Name</td><td>@l.Email</td><td>@l.Phone</td></tr>
                }
            </tbody>
        </table>
    </div>
 </body>
</html>